html, body {
	padding: 0;
	margin: 0;
	overflow: hidden;
	font-family: monospace;
}

canvas {
	width: 100%;
	height: 100%;
}

#info {
	position: absolute;
	top: 0;
	width: 100%;
	color: white;
	text-align: center;
	padding: 5px 0;
}

#output {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 10px;
	color: white;
	font-size: 12px;
	pointer-events: none;
}

a {
	color: #eee;
}
